<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>

    <script language="javascript" type="text/javascript">
      angular.module('app', ['ngResource']);
      
      //This controller controls the application
      function BackendController($scope,$resource){
      
        $scope.gaEvent = function($event){
          $scope.clicked = $event.target.name;
          //Call your own backend to log an event.
          $scope.log_event($scope.clicked);
        };
        
        $scope.backend_locations = [
          {url : 'code-comparison.appspot.com', urlName : 'remote backend' },       
          {url : 'localhost:8080', urlName : 'localhost' } ];

        $scope.showdetails = false;
        $scope.apikey = "1234";
        
        //Replace this url with your final URL from the SingPath API path. 
        //$scope.remote_url = "localhost:8080";
        $scope.remote_url = "code-comparison.appspot.com";
        $scope.model = "message";
        $scope.waiting = "Ready";
        
        $scope.item = {};
        $scope.item.data = {"message": "Hi Chris"};
        
        //resource calls are defined here

        $scope.Model = $resource('http://:remote_url/:apikey/:model_type/:id',
                                {},{'get': {method: 'JSONP', isArray: false, params:{callback: 'JSON_CALLBACK'}}
                                   }
                            );
        
        //Updates the server model <id> with the "item" object in the page: update(<id of object>)
        $scope.update = function(id){
          $scope.UpdateResource = $resource('http://:remote_url/:apikey/:model/:id', 
                        {"remote_url":$scope.remote_url,"apikey":$scope.apikey,"model":$scope.model, "id":id }, 
                        {'update': { method: 'PUT',    params: {} }});
          
          var item = new $scope.UpdateResource($scope.item.data);
          $scope.waiting = "Loading";
          item.$update(function(response) { 
                  $scope.item = response;
                  $scope.list();
                  $scope.waiting = "Ready";
                });
        };
        
        //Adds a new object into the server with the "item" object in the page: add()
        $scope.add = function(){
          $scope.SaveResource = $resource('http://:remote_url/:apikey/:model', 
                        {"remote_url":$scope.remote_url,"apikey":$scope.apikey,"model":$scope.model}, 
                        {'save': { method: 'POST',    params: {} }});
       
          $scope.waiting = "Loading";
          var item = new $scope.SaveResource($scope.item.data);
          $scope.item = item.$save(function(response) { 
                  $scope.item = response;
                  $scope.list();
                  $scope.waiting = "Ready";
                }); 
        };
        
        //Populates all the objects of the model named $scope.model into the array "items": list()
        $scope.list = function(){
          data = {'remote_url':$scope.remote_url,
                  'model_type':$scope.model,
                  'apikey':$scope.apikey
                 }
          $scope.waiting = "Updating";       
          $scope.Model.get(data,
                function(response) { 
                  $scope.items = response;
                  $scope.waiting = "Ready";
                });  
        };
        
        //Loads the object from the server with id <id> into the "item" object: load(id)      
        $scope.load = function(id){
          data = {'remote_url':$scope.remote_url,
                  'model_type':$scope.model,
                  'apikey':$scope.apikey, 
                  'id': id
                }
          $scope.waiting = "Loading";
          $scope.Model.get(data, 
              function(response){   
                  $scope.item = response;
                  $scope.item_data = $scope.item.data;
                  $scope.waiting = "Ready";  
              });        
        };
        
        //Deletes the object from the server with id <id>: delete(id)
        $scope.delete = function(id){
          data = {'remote_url':$scope.remote_url,
                  'model_type':$scope.model,
                  'apikey':$scope.apikey, 
                  'id': id
                }
          $scope.waiting = "Deleting";      
          $scope.Model.remove(data, 
              function(response){
                  $scope.waiting = "Ready";
                  $scope.list();
              });
        };
        
        //To add key/value pairs when creating new objects
        $scope.add_key_to_item = function(){
          $scope.item.data[$scope.newItemKey] = $scope.newItemValue;
          $scope.newItemKey = "";
          $scope.newItemValue = "";
        };
        
        //Gets the metadata of an API Key, and returns the raw data to the "metadata" object: get_metadata()
        $scope.get_metadata = function(){
          data = {'remote_url':$scope.remote_url,
                  'model_type':"metadata",
                  'apikey':$scope.apikey
                 }
          $scope.waiting = "Updating";       
          $scope.Model.get(data,
                function(response) { 
                  $scope.metadata = response;
                  $scope.waiting = "Ready";
                });  
        };
        
        $scope.log_event = function(message){
          data = {'remote_url':$scope.remote_url,
                  'model_type':"log",
                  'apikey':$scope.apikey, 
                  'obj': JSON.stringify({"message":message})
                }
          $scope.Model.get(data, 
              function(response){
                  $scope.last_log = response;
              });
        
        };
        
        $scope.list();         
      }
    </script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .responsive-table {
	      width: 100%;
	      overflow:scroll;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    
  </head>
  <body ng-controller="BackendController" ng-click="gaEvent($event)">
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">BaaS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Overview</a></li>
              <!-- <li><a href="#about">Documentation</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
    	<div class="row">
	    	<div class="span8 hidden-phone">
	    		<div class="hero-unit">
			        <h1>Backend as a Service</h1>
			        <p>Here is a project that you can fork on Github to start prototyping your own responsive design in a public gh-pages branch or any other publicly hosted folder like your Dropbox public folder. You can start by using the provided backend-as-a-service, and then later deploy your project to Google App Engine and use your own instance of the backend-as-a-service running in the free tier of Google App Engine.</p>
			        <p><a class="btn btn-primary btn-large" href="https://github.com/ChrisBoesch/awesome-start">Fork on GitHub &raquo;</a></p>
			    </div>
	    	</div>
	    	<div class="visible-phone">
	    		<h3 style="margin-top:0">Backend as a Service</h3>
		    	<p>Here is a project that you can fork on Github to start prototyping your own responsive design in a public gh-pages branch or any other publicly hosted folder like your Dropbox public folder. You can start by using the provided backend-as-a-service, and then later deploy your project to Google App Engine and use your own instance of the backend-as-a-service running in the free tier of Google App Engine.</p>
				<p><a class="btn btn-primary" href="https://github.com/ChrisBoesch/awesome-start">Fork on GitHub &raquo;</a></p>
				<hr/>
	    	</div>
	    	<div class="span4">
			    <h3>Example App</h2>
			    <div class="input-append">
			    	<legend>Please leave a message:</legend>
			    	<input type="text" ng-model="item.data.message">
			    	<input class="btn" ng-click="add()" type="submit" name="add new item" value="Submit">
			    </div>
			    <ul>
			      <li ng-repeat="entity in items.entities">
			          {{entity.data.message}}
			      </li>
			    </ul>
			    
			    <!-- You can hide this setup code once you've configured your app -->
			    <!-- This checkbox will hide everything in the DIV below or show it all. -->
			    <hr>      
			    <label class="checkbox"><input type="checkbox" ng-model="showdetails">Show Angularjs details.</label>
			</div>
		</div>
	
		<div ng-show="showdetails" class="container">
			<h3>AngularJS Details</h3>
			<p class="lead">Angular is used to edit any items on a remote backend using a specific apikey.</p><hr/>
			<label>Current backend:</label><br>   
			<select ng-model="remote_url" ng-options="item.url as item.urlName for item in backend_locations"></select>
			<br>Base URL: {{remote_url}} <br>
			<hr>
			You can change this apikey to be any string so that you won't conflict with others.<br>
			<form ng-submit="get_metadata()">
				<div class="input-append">
				Current API Key: <input type="text" ng-model="apikey">
				<input type="submit" class="btn" name="get metadata" value="Get metadata">
				</div>
				(See what is currently stored for the apikey.)
			</form>
			Metadata: <pre>{{metadata}}</pre>
			<hr>
	   		Update the list of models for the apikey.<br>
		    <form ng-submit="list()">  
		      <div class="input-prepend input-append">
			      <span class="add-on">Model: </span><input type="text" ng-model="model" placeholder="user">
			      <input type="submit" class="btn" name="list" value="List">
		      </div>		    
			</form>  
		    
		    <hr>
		    <!-- Here is a good place to comment out everythign above once you are configured. -->
	    
	    	There are {{items.entities.length}} items for {{model}}. Status: {{waiting}}
			<div class="responsive-table">
			<table class="table">
			  <th ng-repeat="(key,val) in items.entities[0]">
			      {{key}}
			  <th>
			  <th>Delete</th>
			
			  <tr ng-repeat="item in items.entities">
			
			    <td ng-repeat="(key,val) in item">
			      {{val}}
			    </td>
			    <td>
			      <form ng-submit="load(item['id'])" style="margin-bottom:0">
			        <input type="submit" class="btn" name="load" value="Load">
			      </form>
			    </td>
			    <td>
			      <form ng-submit="delete(item['id'])" style="margin-bottom:0">
			        <input type="submit" class="btn" name="delete" value="Delete">
			      </form>
			    </td>
			  </tr>
			</table></div>
	      
	    	<hr>
	    	Item Data:
			<table>
			  <tr>
			    <td>ID:</td>
			    <td><input type="text" ng-model="item.id"></td>
			  </tr>
			  <tr>
			    <td>Data:</td>
			    <td><input type="text" ng-model="item.data.message"></td>
			  </tr>
			<!-- You could dynamically show all key-value pairs in the item.data
			<tr ng-repeat="(key,val) in item.data">
			  <td>{{key}}:</td> 
			  <td><input type="text" ng-model="item.data[key]"></td>
			</tr>
			
			<tr>
			  <td><input type="text" ng-model="newItemKey" placeholder="add key here"></td>
			  <td><input type="text" ng-model="newItemValue" placeholder="add value here"></td>
			  <td>
			    <form ng-submit="add_key_to_item()">
			      <input type="submit" class="btn" value="Add key/value pair."> 
			    </form>
			  </td>
			</tr>
			-->
			
			</table>
	
		    <form ng-submit="add()">
		      <input type="submit" class="span4 btn" name="add new item" value="Add new item (Using POST)">
		    </form>
		    <form ng-submit="update(item.id)">
		      <input type="submit" class="span4 btn" value="Update item {{item.id}} (Using PUT)">
		    </form>
	    </div>
	 </div>
	 <!-- Bootstrap Javascript Files-->
	 <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <!-- Bootstrap Javascript Files End-->
  </body>
</html>